name: Contrib to readme

on: [push]

jobs:
  contrib-readme-job:
    runs-on: ubuntu-latest
    name: A job to automate contributers list in readme
    if: github.ref == 'refs/heads/main' && github.repository_owner == 'pixelit-project'
    steps:
      - name: Contribute List
        uses: akhilmhdh/contributors-readme-action@v2.3.4
        env:
          GITHUB_TOKEN: ${{ secrets.ACTION_TOKEN }}
